$color_0: #01689b;
$color_1: rgba(0, 0, 0, .1);
$color_2: #f4f4f4;
$color_3: #fff;
$color_4: #000;
$color_5: #f3f3f3;
$color_6: #d3d3d3;
$color_7: #1b5e84;
$color_8: #a90061;
$color_9: #016898;
$color_10: #cbd2e3;
$color_11: #111;

$font_0: RO Sans;
$font_1: Calibri;
$font_2: sans-serif;
$font_3: serif;
$font_4: Verdana;

$tablet-width: 768px;
$desktop-width: 992px;
$bigScreen-width:1196px;

$url_0: url(https://www.rijksoverheid.nl/binaries/medium/content/gallery/rijksoverheid/attentie-afbeeldingen/onderwerpen/n/neerhalen-mh17.jpg);
