// define variables 

$primaryBlack : rgb(88, 89, 90);
$darkBlack: rgb(0, 0, 0);
$color-0 : rgb(168, 50, 121);
$White : white;
$primaryWhite:rgb(206, 204, 204);

$Font-Family: 'Lora', serif;

$facebook-color:#3b5998;
$facebook-color-hover:rgb(75, 75, 243);
$twitter-color:#4099FF;
$twitter-color-hover:#88f6f6;
$instagram-color:#3f729b;
$youtube-color:#c4302b;
$youtube-color-hover:rgb(243, 118, 118);

$color-list:$White, #e74c3c, #2ecc71, #e67e22, #9b59b6;
